<script type='text/javascript' src="{{ '/assets/js/libs/jquery-3.4.1.min.js' | relative_url }}"></script>
<script type='text/javascript' src="{{ '/assets/js/libs/nouislider-15.1.0.js' | relative_url }}"></script>
<script type='text/javascript' src="{{ '/assets/js/libs/wnumb-1.2.0.js' | relative_url }}"></script>
<script type='text/javascript' src="{{ '/assets/js/libs/leaflet.js' | relative_url }}"></script>
<script type='text/javascript' src="{{ '/assets/js/libs/leaflet.curve.js' | relative_url }}"></script>
{% if page.categories contains 'search' %}
<script type='text/javascript' src="{{ '/assets/js/libs/lunr.min.js' | relative_url }}"></script>
{% endif %}
<script type='text/javascript' src="{{ '/assets/js/script.js' | relative_url }}"></script>