<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- fonts via Typekit [Should be replaced with local OTF] -->
  	<script src="https://use.typekit.net/qse7cmq.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

  	<!-- stylesheets -->
  	<link rel='stylesheet' type='text/css' href="{{ '/assets/css/style.css' | relative_url }}" />
  	<link rel="stylesheet" href="https://use.typekit.net/qse7cmq.css">
</head>
